.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20%;
    align-items: center;
    padding: 1% 0.3%;
    border-radius: 5%;
    background-color: white;
  }
#qr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3%;
    width: 90%;
}
.text{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
}
.sub{
    color: silver;
    font-weight: 400;
}
.head{
    font-size: 23px;
    font-weight: 700;
}
@media screen and (min-width: 375px) and (max-width: 400px) {
    .container {
      width: 90%;
      padding: 5% 2%;
    }
  }
  